


body {
    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: .8em;
}


.container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    
}
.bg {
    background: red;
}
